body {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    height: 100%;
}

html {
    height: 100%;
}

.buddhas-palm {
    width: 370px;
    height: auto;
    margin: auto;
    background-image: url("src/assets/smarmy_background.png");
}

.eigth-note {
  position: absolute;
  top: 190px;
  height: 270px;
  z-index: 1;
  opacity: .08;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50%;
  transform: translate(-50%, 0);
}

.buddhas-glove {
    background-color: rgba(255, 255, 237, .8);
    padding-top: 20px;
    padding-bottom: 10px;
}

#restaurant-name {
    text-align: center;
    font-size: 26px;
    padding-bottom: 10px;
}

.foreground_image {
    position: absolute;
    opacity: .13;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#menu-body, #menu-footer, .menu-item {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.menu-item-value {
    font-style: oblique;
}

#date-sub-header {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#menu-body {
    font-size: 13px;
}

#date-sub-header {
    font-size: 16px;
}


hr {
    width: 300px;
    margin: 0px auto 20px auto
}

.section-label {
    font-size: 16px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    hr {
        width: 100px;
        margin: 0px auto 13px auto
    }
    .buddhas_palm {
        border-color: 10px solid white;
        width: 370px;
        height: 600px;
        overflow: hidden;
        background-color: rgba(255, 255, 237, .8);
    }
  }
